
/* TITLE */

body, h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}
p{
    color: #8f8f8f;
}

#title{
    background-color: #ff4c68;
}
.container-fluid{
    padding: 3% 15% 7% 15%;
}
.img1{
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
   right: 30%;
    }
.fix{
    padding: 0 0 4.5rem;
}
.Download-button{
    margin: 5% 3% 5% 0;
}

/* Headings */

.biggest-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
    color: #fff;
line-height: 1.5;    
}
h1, h2{
    line-height: 1.5;
}
h2{
    font-size: 3rem;    
    }
h3, h2{
    font-weight: bolder;
}

/* NAVIGATION BAR */

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
}

.nav-item{
    padding: 0 18px;
}
nav-link{
    font-size: 1.2rem;
    font-weight: 100;
}



/* FEATURES */

#features{
    padding: 7% 15%;
text-align: center;
    background-color: #fff;
    position: relative;
}
.feaure-box{
    
    padding: 5%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}

/* TESTIMONIALS */

#testimonials{
    text-align: center;
    background-color: #ef8172;
color: #fff;
}
.test-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.images{
    width: 15%;
    margin: 20px 20px 50px
}
.carousel-item{
    padding: 7% 15%;
}

/*  PRICING  */

#pricing{
    padding: 100px;
text-align: center;
}
.pricing-coloumn{
    padding: 3% 2%;
}

/* MEDIA QUERRY BREAKPOINT */

@media (max-width: 1028px){
    .img1{
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
}

/* DOWNLOAD SECTION */

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding:7% 15% ;
}
.db{
    margin: 5% 2% 5% 0;
}

/* FOOTER */

#footer{
    padding: 7% 15%;
    text-align: center;
}
.in{
    margin: 20px 10px;
}
.social{
    color: #000;
}
.social:hover{
    color: black;
}